
.page-header {
    position: relative;
    }

.main-nav {
    // @media screen and (min-width: $tablet) {
       
    display: flex;
    align-items: center;
    justify-content: space-between; 
    } 


// оформляем логотип 
.logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $primary-text-color;
    
    

    @media screen and (min-width: $desktop) {
        font-size: 26px;
        line-height: 31px;
    }
}
.logo-color {
    color: $accent-color;
}
// .header-logo-margin {
//     margin-top: 16px;
//     margin-bottom: 16px;
// }
// оформляем кнопку меню/закрыть

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    

    @media screen and (min-width: $tablet){
        display: none;
    }
    & .icon-cross {
        display: none;
    }
    &.is-open .icon-cross {
        display: block;
    }
    &.is-open .icon-menu {
        display: none;
    }
}
// навигация для мобильной версии
.menu-container{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $white-color;
    margin: 0;

    @media screen and (max-width: $tablet - 1px)  {
        display: none;
        padding-top: 60px;
        padding-bottom: 60px;
        z-index: 10;
        max-width: 583px;
        width: 100%;
        
        
        &.is-open {
            display: block;
        }
        .nav-link {
            display: inline-block;
            position: relative;
            font-weight: 500;
            padding-top: 8px;
            padding-bottom: 8px;
            
        
            &:hover, &:focus {
                color: $accent-color;
            }
        
        }
        .nav-item:not(:last-child) {
            margin-bottom: 40px;
            }
        .nav-item:last-child {
            margin-bottom: 60px;
        }

        .address-list {
            text-align: center;
            .item:not(:last-child){
                margin-bottom: 16px;
            }
        } 
        .contacts {
            display: inline-block;
            text-align: center;
        }   
    }
            @media screen and (min-width: $tablet) {
                position: relative;
                                              
                display: flex;
                align-items: center;
                padding-top: 0;
                padding-bottom: 0;
                margin-left: 81px;
                justify-content: space-between;

              
                
                .site-nav {
                    display: flex;
                    // justify-content: space-between; 
                    align-items: center;
                    
                }
                .nav-item {
                    margin-left: auto;
                    position: relative;
                                        
                }
                .nav-item:not(:last-child) {
                    margin-bottom: 0;
                    }
                .nav-item:last-child {
                    margin-bottom: 0;
                }
                .nav-item:not(:last-child) {
                    margin-right: 50px;
                }
                .contacts {
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 500;
                }
                .address-list {
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .mail-icon {
                    width: 14px;
                    height: 14px;
                }
                .nav-link {
                    padding: 32px 0px;
                }
            }    
            
            @media screen and (min-width: $desktop) {
                margin-left: 85px;

                .address-list {
                    display: flex;
                    flex-direction: row;
                    margin-left: auto;
                    margin-right: auto;
                    align-items: center;
                    text-align: center;
                    
                    
                    .item:not(:last-child) {
                        margin-right: 30px;
                        } 

                    
                    .item:not(:last-child){
                        margin-bottom: 0;
                        }
                    }  
                }
                .contacts {
                    font-size: 14px;
                    line-height: 16px;
                }
                             
                // .main-nav {                                       
                //     margin-right: 81px;
                }
                .menu-container {
                    // margin-left: 85px;
                    flex-grow: 1;
                    
                }
                // .site-nav {
                //     margin-left: 85px;
                    
                // }              
                
                
        
        
    
            



//     // оформляем навигацию

.site-nav {
    font-family: $main-font-family;
    text-align: center;
    
    


    .active::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: $accent-color;
        border-radius: 4px;

    }    
}



    .nav-link {
        display: inline-block;
        position: relative;
        color: $primary-text-color;
        font-family: $main-font-family;
        font-weight: 500;
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, &:focus {
        color: $accent-color;
    }
}

    .contacts {
        // display: inline-flex;
        color: $title-text-color;
        font-style: normal;
        font-weight: 500;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
        &:hover, &:focus {
        color: $accent-color;
        fill: $accent-color;
        }
        &:hover svg, &:focus svg {
            fill: $accent-color;
        }
    }

    .mail-icon {

        width: 16px;
        height: 15px;
        margin-right: 10px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

            
          